{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>Admin Dashboard</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <h2>All Procurements</h2>
    <ul>
        {% for procurement in procurements %}
        <li>
            {{ procurement.name }} (Current Step: {{ procurement.current_step }})
            <br>
            <br>
            <button><a href="{% url 'view_procurement' procurement.id %}">View</a></button>
            &nbsp &nbsp
            <button><a href="{% url 'continue_step' procurement.id procurement.current_step|add:1 %}">Continue</a></button>
            &nbsp &nbsp
            <button class="button_del" ><a href="{% url 'delete_procurement' procurement.id %}">Delete</a></button>        
            <br><br>
        </li>
            
            {% endfor %}
    </ul>
    <br>
    <button><a href="{% url 'create_procurement' %}">Create New Procurement</a></button>
</body>
</html>
