/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Header styles */
h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #69f69d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

button:hover {
    background-color: #30f678;
}

.button_del {
    padding: 10px 20px;
    background-color: #f79393;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.button_del:hover {
    background-color: #f97474;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

input[type="text"], input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* List styles */
ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    button {
        padding: 8px 16px;
    }
}
